{% extends 'AppBundle:Layout:admin_base.html.twig' %}

{% block body %}
    {{ form_start(form) }}

    <div class="row">
        <div class="col-md-10">
            <h3>Nuevo Plan</h3>
        </div>
    </div>

    <hr>

    <div class="card">
        <div class="card-header text-white bg-dark">
            Datos del plan
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <dl>
                        <dt>Nombre</dt>
                        <dd>{{ form_widget(form.name) }}</dd>
                    </dl>
                    <dl>
                        <dt>Mostrar plan</dt>
                        <dd>{{ form_widget(form.showPlan) }}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt>Descripción</dt>
                        <dd>{{ form_widget(form.description) }}</dd>
                    </dl>
                    <dl>
                        <dt>Destacada</dt>
                        <dd>{{ form_widget(form.isHighlighted) }}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt>Monto</dt>
                        <dd>{{ form_widget(form.amount) }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-12">
            <button type="submit" name="submit" class="btn btn-dark pull-right">
                Guardar
            </button>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
