{% extends 'AppBundle:Layout:admin_base.html.twig' %}

{%
    form_theme form
    'jquery.collection.html.twig'
    'AppBundle:Student:create_collection_theme.html.twig'
%}

{% block body %}
    {{ form_start(form) }}

    <div class="row">
        <div class="col-md-10">
            <h3>Editar Plan</h3>
        </div>
    </div>

    <hr>

    <div class="card">
        <div class="card-header text-white bg-dark">
            Datos del plan
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <dl>
                        <dt>Nombre</dt>
                        <dd>{{ form_widget(form.name) }}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt>Monto</dt>
                        <dd>{{ form_widget(form.amount) }}</dd>
                    </dl>
                </div>
                <div class="col-md-2">
                    <dl>
                        <dt>Mostrar plan</dt>
                        <dd>{{ form_widget(form.showPlan) }}</dd>
                    </dl>
                </div>
                <div class="col-md-2">
                    <dl>
                        <dt>Destacado</dt>
                        <dd>{{ form_widget(form.isHighlighted) }}</dd>
                    </dl>

                </div>

            </div>

            <div class="row">
                <div class="col-md-4">
                    <dl>
                        <dt>Primera Descripción</dt>
                        <dd>{{ form_widget(form.description) }}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt>Segunda Descripción</dt>
                        <dd>{{ form_widget(form.description1) }}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt>Tercera Descripción</dt>
                        <dd>{{ form_widget(form.description2) }}</dd>
                    </dl>
                </div>
            </div>

            <small>
                <i>
                    Consideraciones:
                    <ul>
                        <li>Si el atributo <strong>Mostrar plan</strong> es igual a <strong>Si</strong> este plan se mostrará para todos los usuarios en el apartado Planes y Cuotas.</li>
                        <li>Si el atributo <strong>Destacado</strong> es igual a <strong>Si</strong> este plan se mostrará para como destacado en color azul en el apartado Planes y Cuotas.</li>
                        <li>Los atributos relacionados a <strong>Descripción</strong> serán listado el detalle de cada Plan en el apartado Planes y cuotas.</li>
                    </ul>
                </i>
            </small>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-12">
            <button type="submit" name="submit" class="btn btn-dark pull-right">
                Guardar
            </button>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
