{% extends 'AppBundle:Layout:admin_base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-10">
            <h3>Planes y cuotas</h3>
        </div>
        <div style="margin-right: 1em;">
            <a class="btn btn-dark pull-right" href="{{ path('plan_create') }}">
                <i class="fa fa-plus" aria-hidden="true"></i> Nuevo Plan
            </a>
        </div>
    </div>

    <hr>

    <div class="row">
        {% include "AppBundle:Layout:filter.html.twig" with {"route" : path('plan_list') } %}
    </div>

    <br>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha de creación</th>
            <th scope="col">Nombre</th>
            <th scope="col">Monto</th>
            <th scope="col">Cantidad de alumnos</th>
            <th scope="col">Se muestra en Planes y Cuotas</th>
            <th scope="col">Destacado</th>
        </tr>
        </thead>
        <tbody>
            {% for plan in table %}
                <tr>
                    <td>
                        <a href="{{ path('plan_detail', {id: plan.id}) }}">
                            <i class="fa fa-search"></i>
                        </a>
                    </td>
                    <td>{{ plan.createdAt | date('d-m-Y H:i') }}</td>
                    <td>{{ plan.name }}</td>
                    <td>${{ plan.amount }}</td>
                    <td>{{ plan.students | length }}</td>
                    <td>{{ plan.showPlan ? 'Si' : 'No' }}</td>
                    <td>
                        {% if plan.showPlan == 0 %}
                            No aplica
                        {% else %}
                            {{ plan.isHighlighted ? 'Si' : 'No' }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include "AppBundle:Layout:navigation.html.twig" with {"table" : table} %}
{% endblock %}
