{% extends 'AppBundle:Layout:admin_base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-10">
            <h3>{{ subject.name }}</h3>
        </div>
        <div style="margin-right: 1em;">
            <a class="btn btn-dark pull-right" href="{{ path('subject_edit', {id: subject.id}) }}">
                <i class="fa fa-edit" aria-hidden="true"></i> Editar
            </a>
            <a class="btn btn-dark pull-right" href="{{ path('subject_delete', {id: subject.id}) }}"
               onclick="return confirm('Esta acción no tiene vuelta atrás ¿Está seguro?')">
                <i class="fa fa-trash" aria-hidden="true"></i> Eliminar
            </a>
        </div>
    </div>

    <hr>

    <div class="card">
        <div class="card-header text-white bg-dark">
            Datos de la asignatura
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <dl>
                        <dt>Fecha de creación</dt>
                        <dd>{{ subject.createdAt | date('d/m/Y H:i') }}</dd>
                    </dl>
                </div>

                <div class="col-md-4">
                    <dl>
                        <dt>Fecha de actualización</dt>
                        <dd>{{ subject.updatedAt | date('d/m/Y H:i') }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="card">
        <div class="card-header text-white bg-dark">
            Profesores asociados
        </div>
        <div class="card-body">
            {% if subject.teachers is empty %}
                <div class="alert alert-light text-center" role="alert">
                    No se encontraron resultados
                </div>
            {% else %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fecha de creación</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Documento de identidad</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for teacher in subject.teachers %}
                        <tr>
                            <td>
                                <a href="{{ path('teacher_detail', {id: teacher.id}) }}">
                                    <i class="fa fa-search"></i>
                                </a>
                            </td>
                            <td>{{ teacher.createdAt | date('d-m-Y H:i') }}</td>
                            <td>{{ teacher.firstName }}</td>
                            <td>{{ teacher.lastName }}</td>
                            <td>{{ teacher.idNumber }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
