{% extends 'AppBundle:Layout:admin_base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-10">
            <h3>{{ classroom.name }}</h3>
        </div>
        <div style="margin-right: 1em;">
            <a class="btn btn-dark pull-right" href="{{ path('classroom_edit', {id: classroom.id}) }}">
                <i class="fa fa-edit" aria-hidden="true"></i> Editar
            </a>
            <a class="btn btn-dark pull-right" href="{{ path('classroom_delete', {id: classroom.id}) }}"
               onclick="return confirm('Esta acción no tiene vuelta atrás ¿Está seguro?')">
                <i class="fa fa-trash" aria-hidden="true"></i> Eliminar
            </a>
        </div>
    </div>

    <hr>

    <div class="card">
        <div class="card-header text-white bg-dark">
            Datos de la sala
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <dl>
                        <dt>Fecha de creación</dt>
                        <dd>{{ classroom.createdAt | date('d/m/Y H:i') }}</dd>
                    </dl>
                    <dl>
                        <dt>Capacidad</dt>
                        <dd>{{ classroom.capacity }}</dd>
                    </dl>
                </div>

                <div class="col-md-4">
                    <dl>
                        <dt>Fecha de actualización</dt>
                        <dd>{{ classroom.updatedAt | date('d/m/Y H:i') }}</dd>
                    </dl>
                    <dl>
                        <dt>Capacidad disponible</dt>
                        <dd>{{ classroom.capacity - 12 }}</dd>
                    </dl>
                </div>

                <div class="col-md-4">
                    <dl>
                        <dt>Notas</dt>
                        <dd>{{ classroom.description }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
