{% extends 'AppBundle:Layout:admin_base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-10">
            <h3>Personalización</h3>
        </div>
    </div>

    <hr>

    <div class="row">
        {% include "AppBundle:Layout:filter.html.twig" with {"route" : path('settings_list') } %}
    </div>

    <br>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Valor</th>
            <th scope="col">Descripción</th>
        </tr>
        </thead>
        <tbody>
        {% if table is empty %}
        <tr>
            <td colspan="100">
                <div class="alert alert-light text-center" role="alert">
                    No se encontraron resultados
                </div>
            </td>
        </tr>
        {% else %}
            {% for settings in table %}
                <tr>
                    <td>
                        <a href="{{ path('settings_edit', {id: settings.id}) }}">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                    <td>{{ settings.id }}</td>
                    <td>{{ settings.name }}</td>
                    <td>{{ settings.value }}</td>
                    <td>{{ settings.description | raw }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    {% include "AppBundle:Layout:navigation.html.twig" with {"table" : table} %}
{% endblock %}
