{% extends 'AppBundle:Layout:admin_base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-10">
            <h3>{{ year.name }}</h3>
        </div>
        <div style="margin-right: 1em;">
            <a class="btn btn-dark pull-right" href="{{ path('year_edit', {id: year.id}) }}">
                <i class="fa fa-edit" aria-hidden="true"></i> Editar
            </a>
            <a class="btn btn-dark pull-right" href="{{ path('year_delete', {id: year.id}) }}"
               onclick="return confirm('Esta acción no tiene vuelta atrás ¿Está seguro?')">
                <i class="fa fa-trash" aria-hidden="true"></i> Eliminar
            </a>
        </div>
    </div>

    <hr>

    <div class="card">
        <div class="card-header text-white bg-dark">
            Datos del ciclo lectivo
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <dl>
                        <dt>Fecha de creación</dt>
                        <dd>{{ year.createdAt | date('d/m/Y H:i') }}</dd>
                    </dl>
                </div>

                <div class="col-md-4">
                    <dl>
                        <dt>Fecha de actualización</dt>
                        <dd>{{ year.updatedAt | date('d/m/Y H:i') }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="card">
        <div class="card-header text-white bg-dark">
            Turnos asociados
        </div>
        <div class="card-body">
            {% if year.shifts is empty %}
                <div class="alert alert-light text-center" role="alert">
                    No se encontraron resultados
                </div>
            {% else %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fecha de creación</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Hora de inicio</th>
                        <th scope="col">Hora de fin</th>
                        <th scope="col">Cantidad de salas</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for shift in year.shifts %}
                        <tr>
                            <td>
                                <a href="{{ path('shift_detail', {id: shift.id}) }}">
                                    <i class="fa fa-search"></i>
                                </a>
                            </td>
                            <td>{{ shift.createdAt | date('d-m-Y H:i') }}</td>
                            <td>{{ shift.name }}</td>
                            <td>{{ shift.startHour | date('H:i') }}</td>
                            <td>{{ shift.endHour | date('H:i') }}</td>
                            <td>{{ shift.classrooms | length }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
