{% extends 'AppBundle:Layout:admin_base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-10">
            <h3>{{ about.tittle }}</h3>
        </div>
        <div style="margin-right: 1em;">
            <a class="btn btn-dark pull-right" href="{{ path('about_edit', {id: about.id}) }}">
                <i class="fa fa-edit" aria-hidden="true"></i> Editar
            </a>
            <a class="btn btn-dark pull-right" href="{{ path('about_delete', {id: about.id}) }}"
               onclick="return confirm('Esta acción no tiene vuelta atrás ¿Está seguro?')">
                <i class="fa fa-trash" aria-hidden="true"></i> Eliminar
            </a>
        </div>
    </div>

    <hr>

    <div class="card">
        <div class="card-header text-white bg-dark">
            Datos de la sección
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <dl>
                        <dt>Fecha de creación</dt>
                        <dd>{{ about.createdAt | date('d/m/Y H:i') }}</dd>
                    </dl>
                    <dl>
                        <dt>Contenido</dt>
                        <dd>{{ about.content }}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt>Fecha de actualización</dt>
                        <dd>{{ about.updatedAt | date('d/m/Y H:i') }}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt>Se muestra en <a href="{{ path('about')}}" target="_blank">Sobre nosotros</a></dt>
                        <dd>{{ about.showAbout ? 'Si' : 'No' }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
