{% extends 'AppBundle:Layout:admin_base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-9">
            <h3>{{ student.firstName }} {{ student.lastName }}</h3>
        </div>
        <div style="margin-right: 1em;">
            <a class="btn btn-dark pull-right" href="{{ path('student_edit', {id: student.id}) }}">
                <i class="fa fa-edit" aria-hidden="true"></i> Editar
            </a>
            <a class="btn btn-dark pull-right" href="{{ path('student_delete', {id: student.id}) }}"
               onclick="return confirm('Esta acción no tiene vuelta atrás ¿Está seguro?')">
                <i class="fa fa-trash" aria-hidden="true"></i> Eliminar
            </a>
            <a class="btn btn-dark pull-right" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-cog"></i>  <i class="fas fa-sort-down"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{{ path('student_show_medical_history', {id: student.id}) }}" target="_blank">
                    <i class="	fas fa-file-medical-alt"></i> Ver ficha médica
                </a>
                <a class="dropdown-item" href="{{ path('progress_history_list', {id: student.id}) }}" target="_blank">
                    <i class="far fa-file-alt"></i> Ver historial de progresos
                </a>
                <a class="dropdown-item" href="{{ path('student_forward_welcome_email', {id: student.id}) }}">
                    <i class="fas fa-paper-plane"></i> Reenviar correo de bienvenida
                </a>
            </div>
        </div>
    </div>

    <hr>

    <div class="card">
        <div class="card-header text-white bg-dark">
            Datos del alumno
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    {% if student.photo is empty %}
                        <img class="img-fluid rounded mb-2" width="252" src="{{ asset('public/students/empty.png') }}" alt="empty">
                    {% else %}
                        <img class="img-fluid rounded mb-2" width="252" src="{{ asset('public/students/' ~ student.photo) }}" alt="{{ student.photo }}">
                    {% endif %}
                </div>

                <div class="col-md-3">
                    <dl>
                        <dt>Fecha de creación</dt>
                        <dd>{{ student.createdAt | date('d/m/Y H:i') }}</dd>
                    </dl>
                    <dl>
                        <dt>Fecha de nacimiento</dt>
                        <dd>{{ student.birthDate | date('d/m/Y') }}</dd>
                    </dl>
                    <dl>
                        <dt>Sala</dt>
                        <dd>
                            <a href="{{ path('classroom_detail', {id: student.classroom.id}) }}">
                                {{ student.classroom.name }} - {{ student.classroom.shift.name }}
                            </a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>Domicilio</dt>
                        <dd>{{ student.address }}</dd>
                    </dl>
                </div>

                <div class="col-md-3">
                    <dl>
                        <dt>Fecha de actualización</dt>
                        <dd>{{ student.updatedAt | date('d/m/Y H:i') }}</dd>
                    </dl>
                    <dl>
                        <dt>Documento de identidad</dt>
                        <dd>{{ student.idNumber }}</dd>
                    </dl>
                    <dl>
                        <dt>Plan</dt>
                        <dd>
                            <a href="{{ path('plan_detail', {id: student.plan.id}) }}">
                                {{ student.plan.name }}
                            </a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>Notas</dt>
                        <dd>{{ student.notes ? student.notes : '-' }}</dd>
                    </dl>
                </div>

                <div class="col-md-3">
                    <dl>
                        <dt>ID alumno</dt>
                        <dd>{{ student.codeId }}</dd>
                    </dl>
                    <dl>
                        <dt>Sexo</dt>
                        <dd>{{ student.sex }}</dd>
                    </dl>
                    <dl>
                        <dt>Localidad</dt>
                        <dd>
                            <a href="{{ path('city_detail', {id: student.city.id}) }}">
                                {{ student.city.name }}
                            </a>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="card">
        <div class="card-header text-white bg-dark">
            Tutores
        </div>
        <div class="card-body">
            {% if student.advisors is empty %}
                <div class="alert alert-light text-center" role="alert">
                    No se encontraron resultados
                </div>
            {% else %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fecha de creación</th>
                        <th scope="col">Relación con el alumno</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Documento de identidad</th>
                        <th scope="col">Correo electrónico</th>
                        <th scope="col">Número de teléfono</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for advisor in student.advisors %}
                        <tr>
                            <td>
                                <a href="{{ path('advisor_detail', {id: advisor.id}) }}">
                                    <i class="fa fa-search"></i>
                                </a>
                            </td>
                            <td>{{ advisor.createdAt | date('d-m-Y H:i') }}</td>
                            <td>{{ advisor.studentRelationship }}</td>
                            <td>{{ advisor.firstName }}</td>
                            <td>{{ advisor.lastName }}</td>
                            <td>{{ advisor.idNumber }}</td>
                            <td>{{ advisor.email }}</td>
                            <td>{{ advisor.phoneNumber }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>

    <br>

    <div class="card">
        <div class="card-header text-white bg-dark">
            Pago de cuotas
        </div>
        <div class="card-body">
            {% if student.installmentsGenerated is empty %}
                <div class="alert alert-light text-center" role="alert">
                    {% if student.plan.amount == 0 %}
                        Los alumnos becados al 100% no poseen cuotas
                    {% else %}
                        Este alumno no tiene cuotas generadas <br>
                        <a class="btn btn-primary pull-right" href="{{ path('installment_generate', {id: student.id}) }}">
                            <i class="fa fa-cogs" aria-hidden="true"></i>
                            Generar
                        </a>
                    {% endif %}
                </div>
            {% else %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Fecha de creación</th>
                        <th scope="col">Periodo</th>
                        <th scope="col">Monto</th>
                        <th scope="col">Fecha de vencimiento</th>
                        <th scope="col">Estado</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for installment in student.installments %}
                        <tr>
                            <td>{{ installment.id }}</td>
                            <td>{{ installment.createdAt | date('d-m-Y H:i') }}</td>
                            <td>{{ installment.description }}</td>
                            <td>${{ installment.amount }}</td>
                            <td>{{ installment.dueDate | date('d-m-Y') }}</td>
                            <td class="
                                {% if installment.state == 'Pendiente' %}alert alert-warning
                                {% elseif installment.state == 'Pagada' %}alert alert-success
                                {% elseif installment.state == 'Vencida' %}alert alert-danger
                                {% endif %}
                            ">
                                {{ installment.state }}
                            </td>
                            <td>
                                <h5>
                                    {% if installment.state == 'Pendiente' %}
                                        <span class="badge badge-primary">
                                            <a href="{{ installment.checkoutUrl }}" target="_blank">
                                                <span class="text-white">
                                                       <i class="fa fa-expand-arrows-alt" aria-hidden="true"></i> Abrir checkout
                                                </span>
                                            </a>
                                        </span>

                                        <span class="badge badge-primary">
                                            <a href="{{ installment.pdfUrl }}" target="_blank">
                                                <span class="text-white">
                                                       <i class="fa fa-expand-arrows-alt" aria-hidden="true"></i> Imprimir cupón
                                                </span>
                                            </a>
                                        </span>
                                    {% endif %}
                                    {% if installment.state == 'Vencida' and installment.reEstimated == false %}
                                        <span class="badge badge-primary">
                                            <a href="{{ path('installment_regenerate', {id: installment.id}) }}">
                                                 <span class="text-white">
                                                       <i class="fa fa-expand-arrows-alt" aria-hidden="true"></i> Generar nueva cuota
                                                </span>
                                            </a>
                                        </span>
                                    {% endif %}
                                </h5>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
