{% extends 'AppBundle:Layout:admin_base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-10">
            <h3>{{ student.firstName }} {{ student.lastName }}</h3>
        </div>
        <div style="margin-right: 1em;">
            <a class="btn btn-dark pull-right" href="{{ path('student_edit', {id: student.id}) }}">
                <i class="fa fa-edit" aria-hidden="true"></i> Editar
            </a>
            <a class="btn btn-dark pull-right" href="{{ path('student_delete', {id: student.id}) }}"
               onclick="return confirm('Esta acción no tiene vuelta atrás ¿Está seguro?')">
                <i class="fa fa-trash" aria-hidden="true"></i> Eliminar
            </a>
        </div>
    </div>

    <hr>

    <div class="card">
        <div class="card-header text-white bg-dark">
            Datos del profesor
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <dl>
                        <dt>Fecha de creación</dt>
                        <dd>{{ student.createdAt | date('d/m/Y H:i') }}</dd>
                    </dl>
                    <dl>
                        <dt>Fecha de nacimiento</dt>
                        <dd>{{ student.birthDate | date('d/m/Y') }}</dd>
                    </dl>
                    <dl>
                        <dt>Notas</dt>
                        <dd>{{ student.notes ? student.notes : '-' }}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt>Fecha de actualización</dt>
                        <dd>{{ student.updatedAt | date('d/m/Y H:i') }}</dd>
                    </dl>
                    <dl>
                        <dt>Localidad</dt>
                        <dd>
                            <a href="{{ path('city_detail', {id: student.city.id}) }}">
                                {{ student.city.name }}
                            </a>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt>Documento de identidad</dt>
                        <dd>{{ student.idNumber }}</dd>
                    </dl>
                    <dl>
                        <dt>Dirección</dt>
                        <dd>{{ student.address }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
