{% extends 'AppBundle:Layout:admin_base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-10">
            <h3>Alumnos</h3>
        </div>
    </div>

    <hr>

    <div class="row">
        {% include "AppBundle:Layout:filter.html.twig" with {"route" : path('student_list') } %}
    </div>

    <br>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Fecha de creación</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Documento de identidad</th>
            <th scope="col">Sala</th>
            <th scope="col">Plan</th>
        </tr>
        </thead>
        <tbody>
        {% if table is empty %}
        <tr>
            <td colspan="100">
                <div class="alert alert-light text-center" role="alert">
                    No se encontraron resultados
                </div>
            </td>
        </tr>
        {% else %}
            {% for student in table %}
                <tr>
                    <td>
                        <a href="{{ path('student_detail', {id: student.id}) }}">
                            <i class="fa fa-search"></i>
                        </a>
                    </td>
                    <td>{{ student.id }}</td>
                    <td>{{ student.createdAt | date('d-m-Y') }}</td>
                    <td>{{ student.firstName }}</td>
                    <td>{{ student.lastName }}</td>
                    <td>{{ student.idNumber }}</td>
                    <td>{{ student.classroom.name }} - {{ student.classroom.shift.name }}</td>
                    <td>{{ student.plan.name }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    {% include "AppBundle:Layout:navigation.html.twig" with {"table" : table} %}
{% endblock %}
