<!DOCTYPE html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Ficha médica - {{ student.fullName }}{% endblock %}</title>

    <link href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/stylesheets/modern-business.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/stylesheets/dashboard.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/stylesheets/chart.min.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ asset('logo.png') }}"/>
</head>

<body class="sb-nav-fixed">
    <div class="card" style="width: 70%; text-align: center; margin: auto">
        <div class="card-header text-white" style="background-color: #649154">
            FICHA MÉDICA
        </div>
        <div class="card-body" style="text-align: left">
            <div class="card">
                <div class="card-body" style="text-align: left">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 25%">
                                {% if student.photo is empty %}
                                    <img class="img-fluid rounded mb-2" width="80%" src="{{ asset('public/students/empty.png') }}" alt="empty">
                                {% else %}
                                    <img class="img-fluid rounded mb-2" width="80%" src="{{ asset('public/students/' ~ student.photo) }}" alt="{{ student.photo }}">
                                {% endif %}
                            </td>
                            <td style="text-align: left; vertical-align: top; width: 50%">
                                <table style="width: 100%">
                                    <tr>
                                        <td colspan="2">
                                            <strong>IDENTIFICACIÓN PERSONAL</strong>
                                            <hr>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 41%">
                                            <strong>Nombre y apellidos</strong>
                                        </td>
                                        <td style="width: 41%">
                                            {{ student.fullName }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 41%">
                                            <strong>Sexo</strong>
                                        </td>
                                        <td>
                                            {{ student.sex }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 41%">
                                            <strong>Fecha de nacimiento</strong>
                                        </td>
                                        <td>
                                            {{ student.birthDate | date('d/m/Y') }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 41%">
                                            <strong>Documento de identidad</strong>
                                        </td>
                                        <td>
                                            {{ student.idNumber }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 41%">
                                            <strong>Domicilio</strong>
                                        </td>
                                        <td>
                                            {{ student.address }}
                                        </td>
                                    </tr>
                                </table>

                            </td>
                            <td style="text-align: center; vertical-align: middle; width: 25%">
                                <img class="img-fluid rounded mb-4" width="65%" src="{{ asset('assets/img/semillitas_de_amor.png') }}" alt="">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <br>

            <div class="card">
                <div class="card-body" style="text-align: left">
                    <strong>INFORMACION MÉDICA</strong>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <dl>
                                <dt>Grupo sanguíneo</dt>
                                <dd>{{ student.medicalHistory.bloodType }}</dd>
                            </dl>
                            <dl>
                                <dt>Alergias</dt>
                                <dd>{{ student.medicalHistory.allergy is not null ? student.medicalHistory.allergy : '-' }}</dd>
                            </dl>
                        </div>
                        <div class="col-md-4">
                            <dl>
                                <dt>Altura</dt>
                                <dd>{{ student.medicalHistory.height }}</dd>
                            </dl>
                            <dl>
                                <dt>Enfermedades crónicas</dt>
                                <dd>{{ student.medicalHistory.ChronicIllness is not null ? student.medicalHistory.ChronicIllness : '-' }}</dd>
                            </dl>
                        </div>
                        <div class="col-md-4">
                            <dl>
                                <dt>Peso</dt>
                                <dd>{{ student.medicalHistory.weight }}</dd>
                            </dl>
                            <dl>
                                <dt>Medicamentos</dt>
                                <dd>{{ student.medicalHistory.medicine is not null ? student.medicalHistory.medicine : '-' }}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="card">
                <div class="card-body" style="text-align: left">
                    <strong>ANTECEDENTES</strong>
                    <hr>

                    <div class="row">
                        <div class="col-md-3">
                            <dl>
                                <dt>Asma</dt>
                                <dd>{{ student.medicalHistory.asma is not empty ? '<i class="fas fa-check"></i>' : '<i class="fas fa-times"></i>' }}</dd>
                            </dl>
                            <dl>
                                <dt>Tos convulsiva</dt>
                                <dd>{{ student.medicalHistory.tosConvulsiva is not empty ? '<i class="fas fa-check"></i>' : '<i class="fas fa-times"></i>' }}</dd>
                            </dl>
                        </div>
                        <div class="col-md-3">
                            <dl>
                                <dt>Sinusitis</dt>
                                <dd>{{ student.medicalHistory.sinusitis is not empty ? '<i class="fas fa-check"></i>' : '<i class="fas fa-times"></i>' }}</dd>
                            </dl>
                            <dl>
                                <dt>Migraña</dt>
                                <dd>{{ student.medicalHistory.migrania is not empty ? '<i class="fas fa-check"></i>' : '<i class="fas fa-times"></i>' }}</dd>
                            </dl>
                        </div>
                        <div class="col-md-3">
                            <dl>
                                <dt>Bronquitis</dt>
                                <dd>{{ student.medicalHistory.bronquitis is not empty ? '<i class="fas fa-check"></i>' : '<i class="fas fa-times"></i>' }}</dd>
                            </dl>
                            <dl>
                                <dt>Diabetes</dt>
                                <dd>{{ student.medicalHistory.diabetes is not empty ? '<i class="fas fa-check"></i>' : '<i class="fas fa-times"></i>' }}</dd>
                            </dl>
                        </div>
                        <div class="col-md-3">
                            <dl>
                                <dt>Otitis</dt>
                                <dd>{{ student.medicalHistory.otitis is not empty ? '<i class="fas fa-check"></i>' : '<i class="fas fa-times"></i>' }}</dd>
                            </dl>
                            <dl>
                                <dt>Celiaco</dt>
                                <dd>{{ student.medicalHistory.celiaco is not empty ? '<i class="fas fa-check"></i>' : '<i class="fas fa-times"></i>' }}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div style="text-align: center;">
        <button class="custom-button" id="btn-print">
            <i class="fa fa-print"></i> Imprimir
        </button>
    </div>
</body>

{% block javascripts %}
    <script src="{{ asset('assets/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/js/dashboard.js') }}"></script>
    <script src="{{ asset('assets/js/font-awesome.min.js') }}"></script>
    <script src="{{ asset('assets/js/chart.js') }}"></script>

    <script>
        $("#btn-print").on("click", function (ev) {

            $("#btn-print").css('display', 'none');
            print();
        })

        window.onafterprint = function(){
            $("#btn-print").css('display', 'inline-block');
        }
    </script>
{% endblock %}
