{% extends 'AppBundle:Layout:guest_base.html.twig' %}

{% block title %}{{ siteName }}{% endblock %}
{% block siteName %}{{ siteName }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4 mb-3">Sobre nosotros</h1>

        <hr>

        <img class="img-fluid rounded mb-4" src="{{ asset('assets/img/about.jpg') }}" alt="">

        <div class="row">
            {% for section in sections %}
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <h4 class="card-header">{{ section.tittle }}</h4>
                        <div class="card-body">
                            <p class="card-text">{{ section.content }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
