{% extends 'AppBundle:Layout:admin_base.html.twig' %}

{% block body %}
    <h3>Inicio</h3>
    <hr>

    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="view overlay">
                    <img class="card-img-top" src="{{ asset('assets/img/dashboard1.jpg') }}" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <div class="card-body">
                    <a href="{{ path('student_create') }}" class="black-text d-flex justify-content-end">
                        <h5>Crear Alumno <i class="fas fa-angle-double-right"></i></h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="view overlay">
                    <img class="card-img-top" src="{{ asset('assets/img/dashboard4.jpg') }}" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <div class="card-body">
                    <a href="{{ path('installment_list') }}" class="black-text d-flex justify-content-end">
                        <h5>Gestionar Cotas <i class="fas fa-angle-double-right"></i></h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="view overlay">
                    <img class="card-img-top" src="{{ asset('assets/img/dashboard2.jpg') }}" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <div class="card-body">
                    <a href="{{ path('teacher_create') }}" class="black-text d-flex justify-content-end">
                        <h5>Crear Profesor <i class="fas fa-angle-double-right"></i></h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="view overlay">
                    <img class="card-img-top" src="{{ asset('assets/img/dashboard3.jpg') }}" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <div class="card-body">
                    <a href="{{ path('subject_create') }}" class="black-text d-flex justify-content-end">
                        <h5>Crear Asignatura <i class="fas fa-angle-double-right"></i></h5>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-6">
                <div class="card-header">
                    <i class="fas fa-chart-area mr-1"></i>
                    Cronogramas
                </div>
                <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FArgentina%2FCordoba&amp;src=NDEzNWs5dTFlOWxrZ2JpaGo5YXE4aDdicThAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=OHI3MDRlbm5tNW8waW8yaDZ1dThrdnRkYmdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=dGw2ZDA1NTZzZDgyZzVoODF0aGlkYnBnZDRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=bXFwNWxxdmE4aXRuMjBnODVmdjc3NDBlaGtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=bnM4dXEyb3NrbzNxNmVtb25yOGkzZjFjMHNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23F6BF26&amp;color=%23009688&amp;color=%230B8043&amp;color=%233F51B5&amp;color=%23D50000&amp;showTitle=0&amp;showNav=1&amp;showDate=1&amp;showPrint=0&amp;showTabs=1&amp;mode=WEEK" style="margin: 15px; border-width:0" width="770" height="870" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area mr-1"></i>
                     Alumnos
                </div>
                <div class="card-body"><canvas id="studentChart" width="100%" height="45"></canvas></div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area mr-1"></i>
                    Salas
                </div>
                <div class="card-body"><canvas id="classroomChart" width="100%" height="45"></canvas></div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area mr-1"></i>
                    Cuotas
                </div>
                <div class="card-body"><canvas id="installmentsChart" width="100%" height="40"></canvas></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var student = document.getElementById("studentChart").getContext('2d');
        var studentChart = new Chart(student, {
            type: 'pie',
            data: {
                labels: ["Masculino", "Femenino", "No define"],
                datasets: [{
                    data: [{{ sexes }}],
                    backgroundColor: [
                        "#46BFBD",
                        "#f7464a",
                        "#e5e519"
                    ],
                    hoverBackgroundColor: [
                        "#5AD3D1",
                        "#ff6c70",
                        "#ffff56"
                    ]
                }]
            },
            options: {
                responsive: true
            }
        });

        var classroom = document.getElementById("classroomChart").getContext('2d');
        var classroomChart = new Chart(classroom, {
            type: 'pie',
            data: {
                labels: {{ shiftNames | raw }},
                datasets: [{
                    data: {{ classrooms |raw }},
                    backgroundColor: [
                        "#9457ce",
                        "#b4b402",
                        "#46BFBD",
                        "#f7464a",
                        "#f57715",
                    ],
                    hoverBackgroundColor: [
                        "#b779f5",
                        "#c7c756",
                        "#5AD3D1",
                        "#ff6c70",
                        "#f1944c",
                    ]
                }]
            },
            options: {
                responsive: true
            }
        });

        var installments = document.getElementById('installmentsChart').getContext('2d');
        var installmentsChart = new Chart(installments, {
            type: 'bar',
            data: {
                labels: [
                    'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
                    'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'
                ],
                datasets: [{
                    label: 'Pendiente',
                    data: [12, 19, 3, 5, 2, 3, 12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgb(255,218,86)',
                        'rgb(255,218,86)',
                        'rgb(255,218,86)',
                        'rgb(255,218,86)',
                        'rgb(255,218,86)',
                        'rgb(255,218,86)',
                        'rgb(255,218,86)',
                        'rgb(255,218,86)',
                        'rgb(255,218,86)',
                        'rgb(255,218,86)',
                        'rgb(255,218,86)',
                        'rgb(255,218,86)'
                    ],
                    borderColor: [
                        'rgb(160,138,55)',
                        'rgb(160,138,55)',
                        'rgb(160,138,55)',
                        'rgb(160,138,55)',
                        'rgb(160,138,55)',
                        'rgb(160,138,55)',
                        'rgb(160,138,55)',
                        'rgb(160,138,55)',
                        'rgb(160,138,55)',
                        'rgb(160,138,55)',
                        'rgb(160,138,55)',
                        'rgb(160,138,55)'
                    ],
                    borderWidth: 1
                }, {
                    label: 'Pagada',
                    data: [18, 19, 3, 5, 2, 3, 18, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgb(190,255,86)',
                        'rgb(190,255,86)',
                        'rgb(190,255,86)',
                        'rgb(190,255,86)',
                        'rgb(190,255,86)',
                        'rgb(190,255,86)',
                        'rgb(190,255,86)',
                        'rgb(190,255,86)',
                        'rgb(190,255,86)',
                        'rgb(190,255,86)',
                        'rgb(190,255,86)',
                        'rgb(190,255,86)',
                        'rgb(190,255,86)'
                    ],
                    borderColor: [
                        'rgb(78,113,45)',
                        'rgb(78,113,45)',
                        'rgb(78,113,45)',
                        'rgb(78,113,45)',
                        'rgb(78,113,45)',
                        'rgb(78,113,45)',
                        'rgb(78,113,45)',
                        'rgb(78,113,45)',
                        'rgb(78,113,45)',
                        'rgb(78,113,45)',
                        'rgb(78,113,45)',
                        'rgb(78,113,45)'
                    ],
                    borderWidth: 1
                }, {
                    label: 'Vencida',
                    data: [18, 19, 3, 5, 2, 3, 18, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgb(255,86,86)',
                        'rgb(255,86,86)',
                        'rgb(255,86,86)',
                        'rgb(255,86,86)',
                        'rgb(255,86,86)',
                        'rgb(255,86,86)',
                        'rgb(255,86,86)',
                        'rgb(255,86,86)',
                        'rgb(255,86,86)',
                        'rgb(255,86,86)',
                        'rgb(255,86,86)',
                        'rgb(255,86,86)'
                    ],
                    borderColor: [
                        'rgb(113,45,45)',
                        'rgb(113,45,45)',
                        'rgb(113,45,45)',
                        'rgb(113,45,45)',
                        'rgb(113,45,45)',
                        'rgb(113,45,45)',
                        'rgb(113,45,45)',
                        'rgb(113,45,45)',
                        'rgb(113,45,45)',
                        'rgb(113,45,45)',
                        'rgb(113,45,45)',
                        'rgb(113,45,45)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            stepSize: 10
                        }
                    }]
                }
            }
        });
    </script>
{% endblock javascripts %}
