{% extends 'AppBundle:Layout:guest_base.html.twig' %}

{% block title %}{{ siteName }}{% endblock %}
{% block siteName %}{{ siteName }}{% endblock %}

{% block body %}
    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" style="background-image: url({{ asset('assets/img/slide1.png') }})">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="modern-shadow"> <strong>CONOCÉ NUESTROS PLANES</strong></h5>
                        <p>En {{ siteName }} ofrecemos una gran variedad de planes adecuados a cada necesidad. Conocelos <a href={{ path('plans') }}><strong>aquí</strong></a>.</p>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url({{ asset('assets/img/slide2.png') }}">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="modern-shadow"><strong>PAGÁ TU CUOTA ONLINE</strong></h5>
                        <p>Actualiza el valor de tu cuota haciendo click <a href={{ path('installments_pay_select_user') }}><strong>aquí</strong></a>.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </header>
{% endblock %}
