{% extends 'AppBundle:Layout:admin_base.html.twig' %}

{%
    form_theme form
    'jquery.collection.html.twig'
    'AppBundle:Calendar:create-collection-theme.html.twig'
%}

{% block body %}
    {{ form_start(form) }}

    <div class="row">
        <div class="col-md-10">
            <h3>Crear Cronograma</h3>
        </div>
    </div>

    <hr>

    <div class="card">
        <div class="card-header text-white bg-dark">
            Datos del Cronograma
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <dl>
                        <dt>Google ID</dt>
                        <dd>{{ form_widget(form.googleId) }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="card">
        <div class="card-header text-white bg-dark">
            Eventos
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <dl>
                    <dd>{{ form_widget(form.events) }}</dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button type="submit" name="submit" class="btn btn-dark pull-right">
                Guardar
            </button>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>
    <script type="text/javascript">
        $('.events').collection({
            min: 1,
            prefix: 'event',
            preserve_names: true,
            allow_duplicate: true,
            add: `
                <a href="#" class="event btn btn-default" title="Agregar Evento">
                    <i class="fa fa-plus-circle"></i>
                </a>
            `
        });
    </script>
{% endblock javascripts %}
