{% extends 'AppBundle:Layout:admin_base.html.twig' %}

{% block body %}
    {{ form_start(form) }}

    <div class="row">
        <div class="col-md-10">
            <h3>Nuevo Profesor</h3>
        </div>
    </div>

    <hr>

    <div class="card">
        <div class="card-header text-white bg-dark">
            Datos del profesor
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <dl>
                        <dt>Nombre</dt>
                        <dd>{{ form_widget(form.firstName) }}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt>Apellido</dt>
                        <dd>{{ form_widget(form.lastName) }}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt>Localidad</dt>
                        <dd>{{ form_widget(form.city) }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="card">
        <div class="card-header text-white bg-dark">
            Datos del Usuario
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <dl>
                        <dt>Nombre de usuario</dt>
                        <dd>{{ form_widget(form.user.username) }}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt>Correo electrónico</dt>
                        <dd>{{ form_widget(form.user.email) }}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt>Contraseña</dt>
                        <dd>{{ form_widget(form.user.plainPassword) }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-12">
            <button type="submit" name="submit" class="btn btn-dark pull-right">
                Guardar
            </button>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
