{% extends 'AppBundle:Layout:admin_base.html.twig' %}

{%
    form_theme form
    'jquery.collection.html.twig'
    'AppBundle:Teacher:create-collection-theme.html.twig'
%}

{% block body %}
    {{ form_start(form) }}

    <div class="row">
        <div class="col-md-10">
            <h3>Editar Profesor</h3>
        </div>
    </div>

    <hr>

    <div class="card">
        <div class="card-header text-white bg-dark">
            Datos del profesor
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <dl>
                        <dt>Nombre</dt>
                        <dd>{{ form_widget(form.firstName) }}</dd>
                    </dl>
                    <dl>
                        <dt>Fecha de nacimiento</dt>
                        <dd>{{ form_widget(form.birthDate) }}</dd>
                    </dl>
                    <dl>
                        <dt>Asignatura</dt>
                        <dd>{{ form_widget(form.subject) }}</dd>
                    </dl>
                    <dl>
                        <dt>Notas</dt>
                        <dd>{{ form_widget(form.notes) }}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt>Apellido</dt>
                        <dd>{{ form_widget(form.lastName) }}</dd>
                    </dl>
                    <dl>
                        <dt>Localidad</dt>
                        <dd>{{ form_widget(form.city) }}</dd>
                    </dl>
                    <dl>
                        <dt>Número de Teléfono</dt>
                        <dd>{{ form_widget(form.phoneNumber) }}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt>Documento de identidad</dt>
                        <dd>{{ form_widget(form.idNumber) }}</dd>
                    </dl>
                    <dl>
                        <dt>Domicilio</dt>
                        <dd>{{ form_widget(form.address) }}</dd>
                    </dl>
                    <dl>
                        <dt>Foto de perfil</dt>
                        <dd>{{ form_widget(form.photo) }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="card">
        <div class="card-header text-white bg-dark">
            Titulos/Posgrados
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <dl>
                    <dd>{{ form_widget(form.courses) }}</dd>
                </dl>
            </div>
        </div>
    </div>

    <br>

    <div class="card">
        <div class="card-header text-white bg-dark">
            Datos del Usuario
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <dl>
                        <dt>Nombre de usuario</dt>
                        <dd>{{ form_widget(form.user.username) }}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt>Correo electrónico</dt>
                        <dd>{{ form_widget(form.user.email) }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-12">
            <button type="submit" name="submit" class="btn btn-dark pull-right">
                Guardar
            </button>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>
    <script type="text/javascript">
        $('.courses').collection({
            min: 1,
            prefix: 'course',
            preserve_names: true,
            allow_duplicate: true,
            add: `
                <a href="#" class="course btn btn-default" title="Agregar Curso">
                    <i class="fa fa-plus-circle"></i>
                </a>
            `
        });
    </script>
{% endblock javascripts %}
