{% extends 'AppBundle:Layout:admin_base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-10">
            <h3>Profesores</h3>
        </div>
        <div style="margin-right: 1em;">
            <a class="btn btn-dark pull-right" href="{{ path('teacher_create') }}">
                <i class="fa fa-plus" aria-hidden="true"></i> Nuevo Profesor
            </a>
        </div>
    </div>

    <hr>

    <div class="row">
        {% include "AppBundle:Layout:filter.html.twig" with {"route" : path('teacher_list') } %}
    </div>

    <br>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha de creación</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Documento de identidad</th>
            <th scope="col">Asignatura</th>
            <th scope="col">Nombre de usuario</th>
            <th scope="col">Correo electrónico</th>
            <th scope="col">Número de teléfono</th>

        </tr>
        </thead>
        <tbody>
            {% for teacher in table %}
                <tr>
                    <td>
                        <a href="{{ path('teacher_detail', {id: teacher.id}) }}">
                            <i class="fa fa-search"></i>
                        </a>
                    </td>
                    <td>{{ teacher.createdAt | date('d-m-Y H:i') }}</td>
                    <td>{{ teacher.firstName }}</td>
                    <td>{{ teacher.lastName }}</td>
                    <td>{{ teacher.idNumber }}</td>
                    <td>{{ teacher.subject.name }}</td>
                    <td>{{ teacher.user.username }}</td>
                    <td>{{ teacher.user.email }}</td>
                    <td>{{ teacher.phoneNumber }}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include "AppBundle:Layout:navigation.html.twig" with {"table" : table} %}
{% endblock %}
