<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href={{ path('index') }}>Semillitas de amor</a>
        <button class="navbar-toggler navbar-toggler-right" type="button"
                data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href={{ path('about') }}>Sobre
                        nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ path('contact') }}>Contacto</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href={{ path('create_user') }}>Usuario</a>
                </li>

                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Iniciar Sesión
                    </a>
                    <div class="dropdown-menu">
                        <form action="{{ path('login') }}" method="post">
                            <input class="form-control"
                                   type="text"
                                   name="_username"
                                   id="username"
                                   autocomplete="off"
                                   placeholder="Nombre de usuario"><br>
                            <input class="form-control"
                                   type="password"
                                   name="_password"
                                   id="password"
                                   placeholder="Contraseña">

                            <br>

                            <input class="btn btn-primary"
                                   type="submit"
                                   name="submit"
                                   value="Confirmar">
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>