{% extends 'AppBundle:Layout:admin_base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-9">
            <h3>Gestión de cuotas</h3>
        </div>
        <div style="margin-right: 1em;">
            <a class="btn btn-dark pull-right" href="{{ path('installment_generate_all') }}">
                <i class="fa fa-cogs" aria-hidden="true"></i> Generar
            </a>
            <a class="btn btn-dark pull-right" href="{{ path('installment_sync_up') }}">
                <i class="fa fa-sync" aria-hidden="true"></i> Sincronizar Pagos
            </a>
        </div>
    </div>

    <hr>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Fecha de creación</th>
            <th scope="col">Alumno</th>
            <th scope="col">Periodo</th>
            <th scope="col">Monto</th>
            <th scope="col">Estado</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% if table is empty %}
            <tr>
                <td colspan="100">
                    <div class="alert alert-light text-center" role="alert">
                        No se encontraron resultados
                    </div>
                </td>
            </tr>
        {% else %}
            {% for installment in table %}
                <tr>
                    <td>{{ installment.id }}</td>
                    <td>{{ installment.createdAt | date('d-m-Y') }}</td>
                    <td>
                        <a href="{{ path('student_detail', {id: installment.student.id}) }}">
                            {{ installment.student.fullName }}
                        </a>
                    </td>
                    <td>{{ installment.dueDate | date('d-m-Y') }}</td>
                    <td>${{ installment.amount }}</td>
                    <td class="
                            {% if installment.state == 'Pendiente' %}alert alert-warning
                            {% elseif installment.state == 'Pagada' %}alert alert-success
                            {% elseif installment.state == 'Vencida' %}alert alert-danger
                            {% endif %}
                            ">
                        {{ installment.state }}
                    </td>
                    <td>
                        <h5>
                            <span class="badge badge-primary">
                                <a href="{{ path('student_detail', {id: installment.student.id}) }}">
                                    <span class="text-white">
                                           <i class="fa fa-search" aria-hidden="true"></i> Ver alumno
                                    </span>
                                </a>
                            </span>
                            {% if installment.state == 'Pendiente' %}
                                <span class="badge badge-primary">
                                    <a href="{{ installment.checkoutUrl }}" target="_blank">
                                        <span class="text-white">
                                               <i class="fa fa-expand-arrows-alt" aria-hidden="true"></i> Abrir checkout
                                        </span>
                                    </a>
                                </span>

                                <span class="badge badge-primary">
                                    <a href="{{ installment.pdfUrl }}" target="_blank">
                                        <span class="text-white">
                                               <i class="fa fa-expand-arrows-alt" aria-hidden="true"></i> Imprimir cupón
                                        </span>
                                    </a>
                                </span>
                            {% endif %}
                        </h5>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    {% include "AppBundle:Layout:navigation.html.twig" with {"table" : table} %}
{% endblock %}
