{% extends 'AppBundle:Layout:admin_base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-10">
            <h3>{{ city.name }}</h3>
        </div>
        <div style="margin-right: 1em;">
            <a class="btn btn-dark pull-right" href="#">
                <i class="fa fa-edit" aria-hidden="true"></i> Editar
            </a>
            <a class="btn btn-dark pull-right" href="#">
                <i class="fa fa-trash" aria-hidden="true"></i> Eliminar
            </a>
        </div>
    </div>

    <hr>


    <div class="card">
        <div class="card-header text-white bg-dark">
            Datos de la ciudad
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <dl>
                        <dt>Fecha de creación</dt>
                        <dd>{{ city.createdAt | date('d/m/Y H:i') }}</dd>
                    </dl>
                    <dl>
                        <dt>País</dt>
                        <dd>
                            <a href="#">
                                {{ city.province.country.name }}
                            </a>
                        </dd>

                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt>Fecha de actualización</dt>
                        <dd>{{ city.updatedAt | date('d/m/Y H:i') }}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt>Provincia</dt>
                        <dd>
                            <a href="#">
                                {{ city.province.name }}
                            </a>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
