{% extends 'AppBundle:Layout:admin_base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-10">
            <h3>Ciudades</h3>
        </div>
        <div style="margin-right: 1em;">
            <a class="btn btn-dark pull-right" href="{{ path('city_create') }}">
                <i class="fa fa-plus" aria-hidden="true"></i> Nueva Ciudad
            </a>
        </div>
    </div>

    <hr>

    <div class="row">
        {% include "AppBundle:Layout:filter.html.twig" with {"route" : path('city_list') } %}
    </div>

    <br>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Fecha de creación</th>
            <th scope="col">Nombre</th>
            <th scope="col">Código Postal</th>
            <th scope="col">Provincia</th>
            <th scope="col">Pais</th>
        </tr>
        </thead>
        <tbody>
        {% if table is empty %}
            <tr>
                <td colspan="100">
                    <div class="alert alert-light text-center" role="alert">
                        No se encontraron resultados
                    </div>
                </td>
            </tr>
        {% else %}
            {% for city in table %}
                <tr>
                    <td>
                        <a href="{{ path('city_detail', {id: city.id}) }}">
                            <i class="fa fa-search"></i>
                        </a>
                    </td>
                    <td>{{ city.id }}</td>
                    <td>{{ city.createdAt | date('d-m-Y') }}</td>
                    <td>{{ city.name }}</td>
                    <td>{{ city.postalCode }}</td>
                    <td>{{ city.province.name }}</td>
                    <td>{{ city.province.country.name }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    {% include "AppBundle:Layout:navigation.html.twig" with {"table" : table} %}
{% endblock %}
